Source: node-d3-dispatch
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-rollup-plugin-terser
 , node-tape <!nocheck>
 , nodejs
 , rollup
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/js-team/node-d3-dispatch
Vcs-Git: https://salsa.debian.org/js-team/node-d3-dispatch.git
Homepage: https://d3js.org/d3-dispatch/
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-d3-dispatch
Architecture: all
Depends: ${misc:Depends}
Provides: ${nodejs:Provides}
Multi-Arch: foreign
Description: Register named callbacks and call them with arguments
 Dispatching is a convenient mechanism for separating concerns with
 loosely-coupled code: register named callbacks and then call them with
 arbitrary arguments. A variety of D3 components, such as d3-request, use this
 mechanism to emit events to listeners. Think of this like Node’s EventEmitter,
 except every listener has a well-defined name so it’s easy to remove or
 replace them.
 .
 Node.js is an event-based server-side JavaScript engine.
